<launch>
    <arg name="world" default="largemaze-triton-lidar.world"/>
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="use_sim_time" value="true"/>
      <arg name="debug" value="false "/>  <!-- false for real training, true for debugging -->
      <arg name="paused" value="false"/>
      <arg name="gui" value="true" />
      <arg name="world_name" value="worlds/$(arg world)"/>
      <arg name="verbose" value="true"/>
      <arg name="recording" value="false"/>
      
    </include>
  

    <node pkg="wall_follower" name="wall_follower" type="wall_follower.py"/>

</launch>
